* {
    margin: 0; padding: 0;
}

h1 {font-size: 21px; font-weight: normal; margin: 0 0 30px;}

.wrapper {
    margin: 0 auto;
    margin-top: 20px;
    width: 600px;
    padding: 3px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
}
.tabs {
    height: 28px;
    line-height: 25px;
    list-style: none;
    padding-top: 3px;
    padding-left: 2px;
    border-radius: 5px;
    background: #ddd;
}
.tabs li {
    float: left;
    display: inline;
    margin: 0 5px 0 0;
    padding: 0 13px 3px;
    color: #777;
    cursor: pointer;
    background: #eee;
    position: relative;
}
.tabs .active {
    background: #fff;
    border-bottom: 0;
}

.article {
    display: none;
    border-bottom: 1px solid #ddd;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
    background: #fdfdfd;
    padding: 12px;
}
.article.active {
    display: block;
}